
/* Задаем сброс обтекания */
.clear {
	margin-top: -1px;
	height: 1px;
	clear:both;
	zoom: 1;
}		
/* Slider */
.slider {
	
	width: 950px; /* Ширина контейнера */
	
	padding: 0 30px;/* Внутренние отступы для ссылок navy */
	position: relative;/* Позиционирование */
	overflow: hidden;/* Скроем то что выходит за границы */
}
/* Двойной клик по ссылкам вперед/назад вызывает выделение всех элементов слайдера,
поэтому предотвращаем это */
.slider::-moz-selection { 
	background: transparent; 
	color: #fff; 
	text-shadow: none; }
.slider::selection { 
	background: transparent; 
	color: #fff; 
	text-shadow: none; }

.slide-list {
	position: relative;
	height:400px;
	margin: 0;
	padding: 0;
	
}
.slide-wrap {
	position: relative;
	background-color:none;
	height:400px;
	left: 0px;
	top: 0;
	/* максимально возможная ширина обертки слайдера */
	width: 10000000px;
}
.slide-item {

	width: 300px;/* Ширина слайда */
	height:340px;
	/* Внутренние отступы */
	padding: 10px;
	/* Обтекание */
	float: left;

	
}



/* навигация вперед/назад */
.navy {
	/* абсолютное позиционирование */
	position: absolute;
	top: 0;
	z-index: 1;
	height: 90%;
	/* ширина ссылок */
	width: 30px;
	cursor: pointer;
}
.prev-slide {
	left: 0;
	background: white url(left-arrow.png) 11px 40% no-repeat;
}

.next-slide {
	right: 0;
	background: white url(right-arrow.png) 13px 40% no-repeat;
}
